@{
    ViewBag.Title = "Contact";
}

<div class="img-rounded" style="background-color:lightgray">

    <h3>Ways to contact us </h3>
    <address>
        By mail: <br />
        123 Bees Avenue <br />
        Honey city, SG 22004<br /><br />
        
        By phone:<br />
        (001)571-Lou-rado <span>  /  </span>
        (001) 571-568-7236
    </address>

    By email: <br />
    <address>
        <i class="icon-envelope"></i><strong>Support:</strong> <a href="louradobees@gmail.com">LouradoSupport@gmail.com</a><br />
        <i class="icon-envelope"></i><strong>Marketing:</strong> <a href="louradobees@example.com">Louradobees@egmail.com</a>
    </address>
</div>